@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,600,700');

body {
  background: #e20a0a;
  color: white;
  font-size: 20px;
  font-family: 'Fira Sans',sans-serif;
}

h1,h2,h3 {
  text-transform: uppercase;
}
